.no-decoration {
  text-decoration: none;
}

.overflow-visible {
  overflow: visible !important;
}

.overflow-scroll-x {
  overflow-x: scroll !important;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.overflow-hidden-x {
  overflow-x: hidden !important;
}

.flex-auto {
  flex: 1 1 auto;
}
